body{
    font-family: 'Edu VIC WA NT Beginner';
    background-color: #B4B8AB;
}

.ui-info{
    height: 100px;
    display: flex;
}

.ui-content > a {
    font-size: 1.2rem;
    font-weight: bold;
}

.ui-title{
    text-align: center;
    width: 100%;
}

.ui-content{
    width: 100px;
    align-self: center;
}

.level{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.ui-button{
    width: 300px;
    height: 50px;
    margin: 0.2rem 0;
    cursor: pointer;
    background-color: #DB1F48;
    color: #fff;
    transition: background-color 1s;
}

.ui-button:hover {
  background-color: #004369;
}

.ui-button:focus,
.ui-button:active {
  background-color: black;
  transition: none;
}

.puzzle{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-gap:5px
}

.card{
    width: 150px;
    height: 200px;
    border: 1px solid blue;
}

.card > img {
    max-width: 100%;
    background-size: contain;
    height: 100%;
}

.card.hidden-card > img {
    max-width: 100px;
    height: 100px;
}

.hidden-card{
    background-color: gray;
    display: grid;
    place-items: center;
}